@model List<BooksViewModel>



@{
    Layout = "_Layout";
    ViewBag.Title = "Books Collection";
    ViewBag.path = "~/images/authors/";
}

<div class="books_page_info">
    <div class="title_bg"></div>
    <h1 class="page_title"><span>Starred</span> by our community</h1>
    <p class="books_desc">Check these books if you wanna spend some times in pleasant! Our users read thousands of books in our library and took exactly these!</p>
</div>

<section class="books_container">
    @foreach (var book in Model)
    {
        <div class="book_card">
            @{ViewBag.path = "/images/authors/" + book.Author.FirstName + "_" + book.Author.LastName + ".jpg";}
            <img src=@ViewBag.path class="book_card__bg">
            <div class="book_card__desc">
                <p class="book_card__genre">@book.Theme.NameTheme</p>
                <h3 class="book_card__title"><span>|</span>@book.NameBook</h3>
                <p class="book_card__author">@book.Author.FirstName @book.Author.LastName</p>
                <a class="book_card__buylink" asp-controller="home" asp-action="details" asp-route-id=@book.Id>View More</a>
            </div>
        </div>
    }
</section>



@section styles {
    <link rel="stylesheet" href="~/css/books.css">
}