<!doctype html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <form action="/home/AddAuthor" method="post">
        <input type="text" name="FirstName" value="" />
        <input type="text" name="LastName" value="" />
        <input type="submit" name="name" value="Add author" />
    </form>
</body>
</html>