@model Authors

@{
    var author = Model as Authors;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Document</title>
</head>
<body>
    <p>@author.FirstName</p>
    <p>@author.LastName</p>
</body>
</html>

