@model List<Books>

@{
    Layout = "_Layout";
    ViewBag.Title = "MainPage";
}


@foreach (var book in Model)
{   
    <p>@book.NameBook</p>
    <a href="/home/list?genre=@book.IdThemeNavigation.NameTheme">View</a>
}


