@model List<Authors>

@{
    Layout = "_Layout";
    var authors = Model as List<Authors>;
    ViewBag.Title = "MainPage";
}


@foreach (var aut in authors)
{
    <p>@aut.FirstName @aut.LastName</p>
    <a href="/home/details/@aut.IdAuthor">View</a>
}


