<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Pacifico&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,600,700,700i,800,800i,900,900i&display=swap&subset=cyrillic-ext" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Font Awesome *@
    <script src="https://kit.fontawesome.com/0650b08837.js"></script>

    <link rel="stylesheet" href="~/icomoon/style.css">
    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="main">
        <aside class="left_side_bar">
            <h1>Book Shop</h1>

            <ul class="nav">
                <li><a asp-action="index" asp-controller="home">Home</a></li>
                <li><a asp-action="books" asp-controller="home">Books</a></li>
                <li><a asp-action="index" asp-controller="home">About</a></li>
                <li><a asp-action="create" asp-controller="home">Create</a></li>      
            </ul>

             <div class="copyright">
                <p>© Copyright ©2019 All rights</p>
                <p>Made with ❤️ and ASP.NET Core by Daniel </p>

                <ul class="copyright__social_links">
                    <li><a target="_blank" href="https://www.instagram.com/d.srp/"><i class="icon-instagram"></i></a></li>
                    <li><a target="_blank" href="https://github.com/fermersky"><i class="icon-github"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/danielskrypnik/"><i class="icon-linkedin2"></i></a></li>
                    <li><a target="_blank" href="https://t.me/dskrypnik"><i class="icon-telegram"></i></a></li>
                </ul>
            </div>
        </aside>
        <section class="site_content">
            @RenderBody()

            <footer class="footer">
                <div class="footer__summary">
                    <h3>Book Shop</h3>
                    <ul class="footer__menu">
                        <li><a asp-action="index" asp-controller="home">Home</a></li>
                        <li class="footer_splitter">|</li>
                        <li><a asp-action="index" asp-controller="home">Books</a></li>
                        <li class="footer_splitter">|</li>
                        <li><a asp-action="index" asp-controller="home">About</a></li>
                        <li class="footer_splitter">|</li>
                        <li><a asp-action="index" asp-controller="home">Create</a></li>    
                    </ul>
                </div>
                <div id="particles-js"></div>
            </footer>
        </section>
    </div>

    <script src="~/particles/particles.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>