

.books_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;

  width: 100%;
}

.book_card {
  width: 25%;
  height: 350px;
  background: #000;
  margin: 2%;
  position: relative;
  overflow: hidden;
}

.book_card__bg {
  position: absolute;
  width: 100%;
  z-index: 1;
  filter: brightness(50%);
  transform: translateY(0px);
}

.book_card__desc {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 30px;
  background: transparent;
  z-index: 2;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 40px;
}

.book_card__genre {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.book_card__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  margin: 10px;
  letter-spacing: 1px;
  margin-left: -10px;
}

.book_card__title span {
  color: #f5f836;
  margin: 0 5px;
}

.book_card__author {
  margin-top: -8px;
  font-size: 15px;
}

.book_card__buylink {
  display: block;
  background: #ca3e47;
  padding: 10px 15px;
  color: #fff;
  max-width: 90px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  transition: 0.2s;
}

.book_card__buylink:hover {
  background: #ff4e59;
}
